/*
 ///////////////////////////related to plugin///////////////////////////
*/
/*
 ////////////////contact-form-7////////////////
*/

div.wpcf7-mail-sent-ok,
div.wpcf7-response-output {
  border: none !important;
}

div.wpcf7 .ajax-loader {
  display: none !important;
  background-image: none !important;
}

.wpcf7-spinner {
  display: none !important;
}

span.wpcf7-not-valid-tip {
  color: $themeColor !important;
}

/*
  //////////////////wp-pagenavi//////////////////
  */

.wp-pagenavi {
  clear: both;
  text-align: center;
  padding-top: 10px;
  a,
  span {
    color: $themeColor;
    background-color: #fff;
    border: solid 1px #e0e0d2;
    padding: 8px 12px;
    margin: 0 2px;
    white-space: nowrap;
    border-radius: 2px;
    transition: 0.2s ease-in-out;
    text-align: center;
    text-decoration: none;
  }
  a:hover {
    color: #fff;
    background-color: #b5e9e8;
    border-color: #b5e9e8;
    .type-gallery & {
      color: #fff;
      background-color: #7f7f7f;
      border-color: #7f7f7f;
    }
  }
  span.current {
    color: #fff;
    background-color: $themeColor;
    border-color: $themeColor;
    font-weight: bold;
    .type-gallery & {
      color: #fff;
      background-color: $galleryColor;
      border-color: $galleryColor;
      font-weight: bold;
    }
  }
}
