/*
 ////////////////showUp////////////////
*/

.forShow1,
.forShow2,
.forShow3,
.forShow4 {
  opacity: 0;
  transform: translate(-10px, 15px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.showUp {
  opacity: 1;
  transform: translateY(0);
}
